body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

.logo {
    padding-top: 15px;
    padding-bottom: 30px;
}

.footer {
    margin-top: 25px;
}

#signature {
    border: 1px dashed black;
}